@charset "ISO-8859-1";

element.style {
    image-rendering: pixelated;
}

.carousel-indicators li {
	width: 15 px;
	height: 15px;
}


legend {
    display: block;
    width: 20%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: unset;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    width: 7%;
    height: 5%;
}

.btnpc{
	background-color: white;
    border: none;
    color: black;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    width: 5%;
    height: 5%;
	display: inline;
	float: right;
}


.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



jumbotron{
	align:center;
	text-align: center;
	color: white;
	padding-top: 16px;
    padding-bottom: 20px
}


.dropdown:hover .dropdown-menu{
	display: block;
	
}
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top:5%;
   background-color: black;
   color: white;
   text-align: center;
   height: auto !important
   
}


#skills-section{
text-align: center; 
margin-top: 50px; 
}
.skill{

width: 28%;
display: inline-block; 
margin: 2%; 

}

.chisiamo{
	float: left;
	margin-left: 50px;
}

.maps{
	float: right;
	margin-top:60px;
	margin-right: 120px;
}

.footerchi {
  
   left: 0;
   bottom: 0;
   width: 100%;
 margin-top:600px;
   background-color: white;
   color: black;
   text-align: center;
   height: auto !important
   
}

.form-horizontal .form-group {
    margin-right: 60px;
    margin-left: 37px;
}

.form-group {
    margin-bottom: 26px;
}

.cerca{
	
}


.form-control {
   
}
