@charset "ISO-8859-1";



body {
margin: 0;
padding: 0px;
font-family: 'Old Standard TT';
}

element.style {
    image-rendering: pixelated;
}

.carousel-indicators li {
	width: 15 px;
	height: 15px;
}


legend {
    display: block;
    width: 25%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: unset;
    color: #333;
    border: 0;
    border-bottom: 2px solid #e5e5e5;
}

.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    width: 7%;
    height: 5%;
}

.btnpc{
	background-color: white;
    border: none;
    color: black;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    width: 7%;
    height: 5%;
	display: inline;
	float: right;
}


.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



.jumbotron{
	align:center;
	text-align: center;
	color: white;
	padding-top: 0px;
    padding-bottom: 30px;
    margin-bottom: 21px;
    font: 'Old Standard TT';
    
}


.dropdown:hover .dropdown-menu{
	display: block;
	
}
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top:5%;
   background-color: white;
   color: black;
   text-align: center;
   height: auto !important
   
}


#skills-section{
text-align: center; 
margin-top: 50px; 
}
.skill{

width: 28%;
display: inline-block; 
margin: 2%; 

}

.chisiamo{
	float: left;
	margin-left: 50px;
}

.maps{
	float: right;
	margin-top:60px;
	margin-right: 120px;
}

.footerchi {
  
   left: 0;
   bottom: 0;
   width: 100%;
 margin-top:600px;
   background-color: white;
   color: black;
   text-align: center;
   height: auto !important
   
}

.form-horizontal .form-group {
    margin-right: 60px;
    margin-left: 37px;
}

.form-group {
    margin-bottom: 26px;
}

hr {
    height: 3px;
    box-sizing: content-box;
   display: block;
   
   
}

a {
    color: black;
    text-decoration: none;
}

.img-carousel{
	margin: auto;
	width:20%;	
}

.carousel-indicators li {
	width: 15 px;
	height: 15px;
}

.G2lBJZk {
    border-top: 1px solid #eee;
    width: 100%;
    background: #fff;
    text-align: center;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  
  border-radius: 45%;
  cursor: none;
  width: 100px;
  height: 100px;
}


.rowgrid {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}


@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.recensioni{
	position: fixed;
}

.Acquisto{
	position: fixed;
}

.idrecensioni{
	position: 
	fixed;
}

.spedizione{
	position: fixed;
}

.colonne{
	position: fixed;
}

