<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ShopOnline1</display-name>
 
 <welcome-file-list><welcome-file>index.html</welcome-file></welcome-file-list>
 <!-- REGISTRAZIONE -->
  <servlet>
  <servlet-name>Registrazione</servlet-name>
  <servlet-class>it.accenture.controller.Registrazione
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Registrazione</servlet-name>
  <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
 
 <!-- LOGIN -->
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>it.accenture.controller.Login
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
 
 <session-config>
  <session-timeout>60</session-timeout>
  </session-config>
 
 
 
 <!-- LOGOUT -->
  <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>it.accenture.controller.Logout
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
 
 <!-- EFFETTUA ACQUISTO -->
  <servlet>
  <servlet-name>EffettuaAcquisto</servlet-name>
  <servlet-class>it.accenture.controller.EffettuaAcquisto
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>EffettuaAcquisto</servlet-name>
  <url-pattern>/EffettuaAcquisto</url-pattern>
  </servlet-mapping>
 
 <!-- LOGIN FILTER -->
  <filter>
  <filter-name>LoginFilter</filter-name>
  <filter-class>it.accenture.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/*</url-pattern>
 
  </filter-mapping>
 
 <!-- LISTA PRODOTTI -->
  <servlet>
  <servlet-name>ListaProdotti</servlet-name>
  <servlet-class>it.accenture.controller.ListaProdotti
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ListaProdotti</servlet-name>
  <url-pattern>/ListaProdotti</url-pattern>
  </servlet-mapping>
 
 <!-- LISTA SALDI -->
  <servlet>
  <servlet-name>ListaSaldi</servlet-name>
  <servlet-class>it.accenture.controller.ListaSaldi
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ListaSaldi</servlet-name>
  <url-pattern>/ListaSaldi</url-pattern>
  </servlet-mapping>
 
 <!-- DETTAGLI PRODOTTO -->
  <servlet>
  <servlet-name>DettagliProdotto</servlet-name>
  <servlet-class>it.accenture.controller.DettagliProdotto
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DettagliProdotto</servlet-name>
  <url-pattern>/DettagliProdotto</url-pattern>
  </servlet-mapping>
 
  <!-- LISTA ACQUISTI -->
  <servlet>
  <servlet-name>ListaAcquisti</servlet-name>
  <servlet-class>it.accenture.controller.ListaAcquisti
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ListaAcquisti</servlet-name>
  <url-pattern>/ListaAcquisti</url-pattern>
  </servlet-mapping>
 
  <!-- LISTA Ordini -->
  <servlet>
  <servlet-name>ListaOrdini</servlet-name>
  <servlet-class>it.accenture.controller.ListaOrdini
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ListaOrdini</servlet-name>
  <url-pattern>/ListaOrdini</url-pattern>
  </servlet-mapping>
 
 <!-- LISTA PER CATEGORIA -->
  <servlet>
  <servlet-name>ListaPerCategoria</servlet-name>
  <servlet-class>it.accenture.controller.ListaPerCategoria
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ListaPerCategoria</servlet-name>
  <url-pattern>/ListaPerCategoria</url-pattern>
  </servlet-mapping>
 
 <!-- CARRELLO -->
  <servlet>
  <servlet-name>Carrello</servlet-name>
  <servlet-class>it.accenture.controller.Carrello
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Carrello</servlet-name>
  <url-pattern>/Carrello</url-pattern>
  </servlet-mapping>
  
  <!-- INSERISCI RECENSIONE -->
  <servlet>
  <servlet-name>InserisciRecensione</servlet-name>
  <servlet-class>it.accenture.controller.InserisciRecensione
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>InserisciRecensione</servlet-name>
  <url-pattern>/InserisciRecensione</url-pattern>
  </servlet-mapping>
  
  <!-- INSERISCI RECENSIONE -->
  <servlet>
  <servlet-name>ListaRecensioni</servlet-name>
  <servlet-class>it.accenture.controller.ListaRecensioni
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ListaRecensioni</servlet-name>
  <url-pattern>/ListaRecensioni</url-pattern>
  </servlet-mapping>
  
  <!-- MODIFICA ACCOUNT -->
  <servlet>
  <servlet-name>ModificaAccount</servlet-name>
  <servlet-class>it.accenture.controller.ModificaAccount
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ModificaAccount</servlet-name>
  <url-pattern>/ModificaAccount</url-pattern>
  </servlet-mapping>
  
  <!-- LISTA PIU VENDUTI -->
  <servlet>
  <servlet-name>ListaPiuVenduti</servlet-name>
  <servlet-class>it.accenture.controller.ListaPiuVenduti
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ListaPiuVenduti</servlet-name>
  <url-pattern>/ListaPiuVenduti</url-pattern>
  </servlet-mapping>
  
  <!-- LISTA PRODOTTI -->
  <servlet>
  <servlet-name>CercaProdotto</servlet-name>
  <servlet-class>it.accenture.controller.CercaProdotto
  </servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>CercaProdotto</servlet-name>
  <url-pattern>/CercaProdotto</url-pattern>
  </servlet-mapping>
</web-app>